#smart-archives-block {
	float: left;
	width: 100%;
}
.tabs {
	width: 100%;
	float: left;
	background:  url(img/archive-year-background.png) repeat-x center bottom;
	margin: 0 !important;
	text-indent: 0 !important;
}
.tabs li:before {
	content: '' !important;
}
.tabs li {
	float: left;
	list-style: none !important;
	line-height: 1 !important;
	margin: 0 !important;
	padding: 0 !important;
}
#smart-archives a {
	float:left;
	font-size: 28px;
	padding: 5px 7px 10px;
	outline: none !important;
}
.tabs a.current {
	background: url(img/archive-year-pointer.png) no-repeat center bottom;
	color: #000;
}
.month-list {
	width: 100%;
	float: left;
	padding-bottom: 10px !important;
	margin: 10px 0 !important;
	border-bottom: 2px solid #E8EDEE;	
}
.month-list li {
	list-style: none !important;
	float: left;
	clear: none !important;
	font-size: 14px;
	color: #BDC0C3;
} 
.month-list li a, .month-list li span {
	padding: 3px 5px;
	float:left;
}
.month-list li a.current {
	background: none;
	color: #000;
} 
.archive-list {
}
.archive-list li {
	list-style: none;
	margin-bottom: 10px;
}
.archive-list li h2 {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.pane {
	float: left;
	clear: both;
	display: none;
	width: 100%;
}
.month-heading {
	margin: 10px 0;
}
span.month-archive-link {
	font-size: 70%;
	font-weight: normal;
}

